/node_modules
/.env
/firebase.json
/discloud.config
/.discloudignore
/.utilidades/astral.js
/.utilidades/atributos.js
/.utilidades/criadorDePerfil.js
/.utilidades/dinheiro.js
/.utilidades/level.js
/.utilidades/rolagemdedados.js